@{
    //Aqui e possivel instancia codigo em C#, todo pagina que tive {} 
    //Pode ser intanciado codigos C#
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> @ViewData["Mensagem"] </p> <!--Aqui estamos colocando a mensagem buscada da Pasta Contollers-->
    
</div>
